.scc{
    width: 1440px; height: 1020px; 
    border: 2px solid black;
    margin: auto;
    background-image: url(./image\ 1.svg);
}
.super{
    width: 650px; height: 60px; 
    display: flex; justify-content: space-evenly;
    align-items: center;
}
header{
    width: 1440px;
    height: 80px; 
    display: flex; justify-content: space-between;
    align-items: center;

}
.play{
    width: 170px; height: 35px; 
    background-color: rgb(82, 82, 239);
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgb(250, 245, 245);
    display: flex; align-items: center;
    gap: 20px; justify-content: end;
}
.ku{
    font-size: 20px;
    text-shadow: 4px 4px 6px;
}
select{
    width: 200px; height: 60px;
    font-size: 30px; background-color: rgb(157, 157, 252);
    margin-right: 40px;
    border-radius: 20px;
}
.pwu{
    text-align: center;
    font-size: 20px; margin-bottom: 40px; color: white;
    
}
.aria{
    width: 600px; height: 100px; background-color: yellow;
    margin-top: 210px;
    margin-left: 420px;
    font-size: 30px;
    border-radius: 30px;
    border: 10px solid grey;
    display: flex; align-items: center;
    justify-content: center;
}
.hg{
    text-shadow: 3px 3px 7px rgb(68, 68, 175);
}
.yuva{
    width: 1340px; height: 420px;
    
    margin: auto; margin-top: 60px;
    display: flex; justify-content: space-around;
}
.bola{
    width: 358px; height: 420px; 
   
}
.CS{
    width: 358px; height: 70px; background-color: rgb(20, 18, 18);
    
}
.oreo{
    text-shadow: -3px 3px 7px yellow;
}
.ikkimain{
    width: 1440px; height: 1180px;
    background-color: rgb(9, 8, 8);
    margin-top: 150px;
    padding-top: 20px; 
}
.pola{
    width: 400px;
    height: 100px;
    
   margin: auto; margin-top: 100px;
   display: flex; align-items: center;
}
span{
    text-align: center; font-size: 40px;
    color: white; text-shadow: 3px 3px 5px rgb(109, 109, 71);
}
.fds{
    
}
.mega{
    width: 650px; height: 400px; 


}
.kal{
    width: 1400px; height: 500px; 
    display: flex; justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}
.elik{
    color: white;
    font-size: 30px;
}
.ju{
    width: 270px; height: 60px;
    background-color: grey; 
    font-size: 25px;
    box-shadow: -5px 5px 7px white;
}
.mega4{
    width: 650px; height: 400px; 
    
}
.kal3{
     
    width: 1400px; height: 500px; 
    display: flex; justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.ju4{
     width: 270px; height: 60px;
    background-color: rgb(178, 246, 7); 
    font-size: 25px;
    box-shadow: -5px 5px 7px white;
}
footer{
    width: 1440px; height: 170px; background-color: yellow;
    display: flex; justify-content: space-between;
    align-items: center;
}
.ona{
    width: 280px;
    height: 70px;
    margin-right: 20px;
    display: flex; justify-content: space-around;
}
.yt{
    margin-left: 20px;
}

@media screen and (max-width:1200px) {
    *{
        height: auto;
        width: auto;
    }
}
@media screen and (min-width:320px) {
    *{
        height: auto;
        width: auto;
    }
}